.deadlines-page-container {
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #f8feff;
}

.deadlines-main-container {
  flex: 1;
  padding: 0 40px 40px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 2.5rem;
}

.timeline-chart {
  width: 90%;
  height: 500px;
  margin: auto;
  margin-bottom: 30px;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
  padding: 0;
  margin: 0;
}

.deadline-title,
.description,
.d-back {
  padding-left: 1.2rem;
}

.deadline-title {
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
}

.d-back {
  padding-top: 1rem;
  margin: 0;
}
