body {
  background-color: #f8feff;
  margin: 0;
  display: block;
}

.app-container {
  width: 98%;
}

.page-title {
  /* text-align: left; */
  /* align-self: flex-start; */
  margin: 0;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.app-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}
.sidebar {
  width: 10%;
  background-color: #e0f7fa;
  color: black;
  padding: 20px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  margin: 15px 0;
  width: 10%;
}

.nav-list li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.main-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

h1 {
  text-align: center;
}

.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  gap: 50px;
  width: 75%;
  justify-items: center;
  margin: auto;
}

.list-item {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  border: 6px solid #b7dfdd;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  overflow: hidden;
  position: relative;
}

/* new */
.list-clickable {
  flex: 1;
  cursor: pointer;
}
.list-footer {
  background-color: #b7dfdd;
  text-align: center;
  padding: 10px;
  font-weight: 500;
  font-size: 14px;
}
.list-footer span {
  display: block;
  margin-bottom: 6px;
}
.list-footer button {
  margin: 0 4px;
}

.add-list {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2ebf2;
}

.add-list-card {
  border: 2px solid #b2ebf2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.add-icon {
  font-size: 2rem;
  color: #007b7f;
  margin-bottom: 10px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.add-list-button {
  background-color: #eaf8f8; /* Light background */
  border: 2px solid #b2e1e1; /* Light border */
  border-radius: 12px; /* Rounded corners */
  padding: 15px 20px; /* Padding inside the button */
  font-size: 16px; /* Font size */
  font-weight: bold; /* Bold text */
  color: #007b7f; /* Text color */
  cursor: pointer; /* Pointer on hover */
  display: flex; /* Flex for icon and text alignment */
  align-items: center; /* Center items vertically */
}

.add-list-button:hover {
  background-color: #d1f0f0; /* Darker background on hover */
}

.plus-icon {
  margin-right: 8px; /* Space between icon and text */
}
